body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#header,#mainInfo{
    background-color: #1F2937;
    display: flex;
    color: white;
}
#header{
    justify-content: space-around;
    align-items: center;
    
}
#headLinks {
    display: flex;
}
#headText{
    font-size: 24px;
    font-weight: 500;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    margin: auto 24px;
}
#mainInfo{
    padding-top: 30px;
    padding-bottom: 30px; 
    justify-content: space-evenly;
    align-items: center;
    
}
#mainInfo img{
    width: 25vw;
    height: 25vh;
}
#mainText{
    display: flex;
    flex-flow: column wrap;
    width: 360px;
    
}
.signButt{
    background-color: #3882F6;
    color:white;
    border: solid #3882F6 2px;
    border-radius: 12px;
    
    width:8vw;
    height:4vh;
    font-weight: bold;
}
.bigText{
    font-size:48px;
    font-weight:500;
    color: #f9faf8;
}
.subText{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}
#randomInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}
.infoText{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding-top: 10px;
    padding-bottom: 30px;
}
.picLayout{
    display: flex;
    flex-flow: row wrap;
    gap:30px;
    
}
.picInfo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.picInfo img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: solid #3882F6 4px;
    
}
#quoteBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.fullQuote{
    padding: 10vh 0;
    width: 30vw;
}
.quote{
    display: flex;
    flex-flow: row wrap;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    
}
.signOff{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
#signUpBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.signUp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 20px;
    height: 18vh;
    width: 80vw;
}
.signUp button{
    border-color: white;
}

.signUpText{
    color: white;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 10vh;
}