body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#header,#mainInfo{
    background-color: #1F2937;
    display: flex;
    color: white;
}
#header{
    justify-content: space-around;
    align-items: center;
    
}
#headLinks {
    display: flex;
}
#headText{
    font-size: 24px;
    font-weight: 500;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    margin: auto 24px;
}
#mainInfo{
    padding-top: 30px;
    padding-bottom: 30px; 
    justify-content: space-evenly;
    align-items: center;
    
}
#mainInfo img{
    width: 25vw;
    height: 25vh;
}
#mainText{
    display: flex;
    flex-flow: column wrap;
    width: 360px;
    
}
.signButt{
    background-color: #3882F6;
    color:white;
    border-radius: 12px;
    border-color: #3882F6;
    width:8vw;
    height:4vh;
    font-weight: bold;
}
.bigText{
    font-size:48px;
    font-weight:500;
    color: #f9faf8;
}
.subText{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}